# Supabase Configuration
# Supabase Configuration
SUPABASE_URL=https://tqskjoufozgyactjnrix.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxc2tqb3Vmb3pneWFjdGpucml4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0MTEzNDcsImV4cCI6MjA4MTk4NzM0N30.VT5LhCeBXskkYevGaDC5K-Yxht0yP1_7CGguYBRMVAI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxc2tqb3Vmb3pneWFjdGpucml4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjQxMTM0NywiZXhwIjoyMDgxOTg3MzQ3fQ.xRU624hUrN8FTprG-LDYBiRhfLYb1oxDn2JowoX3QtU
NEXT_PUBLIC_SUPABASE_URL=https://tqskjoufozgyactjnrix.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxc2tqb3Vmb3pneWFjdGpucml4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0MTEzNDcsImV4cCI6MjA4MTk4NzM0N30.VT5LhCeBXskkYevGaDC5K-Yxht0yP1_7CGguYBRMVAI
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_2HSx98KFfrEElv-vuJAfxw_3IPGNmFL
VITE_SUPABASE_URL=https://tqskjoufozgyactjnrix.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxc2tqb3Vmb3pneWFjdGpucml4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0MTEzNDcsImV4cCI6MjA4MTk4NzM0N30.VT5LhCeBXskkYevGaDC5K-Yxht0yP1_7CGguYBRMVAI