@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Patrick+Hand&display=swap');
@import url('https://fonts.cdnfonts.com/css/neo-sans-arabic');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.dir-rtl {
  direction: rtl;
  text-align: right;
}

.dir-ltr {
  direction: ltr;
  text-align: left;
}

[dir="rtl"] body {
  direction: rtl;
  text-align: right;
}

body {
  font-family: 'Neo Sans Arabic', sans-serif;
  overflow-x: hidden;
  background-color: #FCFBFC;
}

/* في حالة دعم اللغة الإنجليزية */
html[dir="ltr"] body {
  font-family: 'Neo Sans Arabic', sans-serif;
}

/* تخصيص الـ thumb لمتصفحات Webkit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #F6D447;
  border-radius: 50%;
  cursor: pointer;
}

/* تخصيص الـ thumb لمتصفحات Firefox */
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #F6D447;
  border-radius: 50%;
  cursor: pointer;
}

main {
  overflow: hidden;
}

/* بعد استيراد swiper/css و swiper/css/pagination */
/* تجاوز الوضع الافتراضي للباجينيشن الراسي */
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
  right: auto !important;
  /* إزالة القيمة الافتراضية */
  left: 2.5rem !important;
  /* ضبّط المسافة من الجانب الأيسر حسب الحاجة */
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  50% {
    opacity: .3;
  }
}

.blink {
  animation: blink 1s step-start infinite;
}